.header {
    background: #fff4fa;
    min-height: 80px;
    .header-nav {
        font-size: 14px;
        line-height: 1;
        .fa {
            color: #c50372;
            font-size: 20px;
        }
    }
    a {
        cursor: pointer;
    }
    .logo {
        color: #c50372;
    }
  }