.productDisplayDetail {
    .productImage {
        height: 350px;
        width:100%;
        background: url('../../assets/img/noImage.png') no-repeat center;
    }    
}
.title {
    font-size:24px;
    color:#c50372;
}
.details {
    font-size:14px;
}
.price {
    font-size:30px;
}