<div class="container">
  <app-header></app-header>
  <div class="row">
    <nav class="navbar navbar-expand-sm shadow-sm">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link pr-5" routerLink="/products/Cakes">Cakes</a></li>
        <li class="nav-item"><a class="nav-link pr-5" routerLink="/products/Flowers">Flowers</a></li>
        <li class="nav-item"><a class="nav-link pr-5" routerLink="/products/Plants">Plants</a></li>
        <li class="nav-item"><a class="nav-link pr-5" routerLink="/products/Personalised">Personalised</a></li>
        <li class="nav-item"><a class="nav-link pr-5" routerLink="/products/Toys">Toys</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <div class="footer col text-center">@ Copyright - giftKart.in</div>
</div>