<div class="row">
    <div class="login col-md-6 offset-md-3 mt-5">
        <h5 class="title">New Registration</h5>
        <form #registerUserForm="ngForm" class="border rounded shadow-sm p-4 needs-validation was-validated" (ngSubmit)="registerUser(registerUserForm)" novalidate>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name" placeholder="Name" required ngModel/>
              <small class="form-text invalid-feedback">Name is required</small>
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Email" email required ngModel/>
              <small class="form-text invalid-feedback">Email ID is required</small>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" required ngModel/>
              <small class="form-text invalid-feedback">Password is required</small>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary login-btn" [disabled]="!registerUserForm.valid">Create An Account</button>        
            </div>
        </form>
    </div>
  </div>