.productDisplay {
    width: 200px;
    .productImage {
        height: 150px;
        width:100%;
        background-image: url('../../assets/img/noImage.png');
    }
}
.view-port {
    height:68vh;
}
.title {
    color:#c50372
}